/* _base.scss
foundational styles for whole document
*/

@use 'colors.scss' as colors;
@use 'spacing.scss' as sizes;

* {
    /*border: 1px solid black; /* apply outline to all elements for visualization during debugging */
    font-family: Arial, Helvetica, sans-serif;
} 

html {
    /* set background to sidebar color so
     * it fits when screen expanded beyond
     * maximum width */
    background-color: colors.$bg-side;
}

body {
    /* set background to off-white so it's
     * easier on the eyes and to put a normal
     * color over the above html background
     * color */
    background-color: colors.$bg-body;
}

/* navigation content */
nav {
    background-color: colors.$bg-nav;

    .logo-link {
        text-decoration: none;
        height: 100%;
    }

    .logo {
        border-radius: 100%;
        max-height: 50px;
        max-width: auto;
        margin: sizes.$xs;
    }

    .menu {
        &-hamburger {
            text-decoration: none;
            aspect-ratio: 1;
            color: colors.$hamburger;
            background-color: colors.$bg-hamburger;
        }

        &-container {
            background-color: colors.$bg-btn-menu;
        }

        &-links {
            margin: 0;
            padding: 0;
        }

        &-item {
            color: colors.$text-light;
            text-decoration: none;
            padding: sizes.$md-btn 0 sizes.$md-btn 0;

            &:hover,
            &:active {
                background-color: colors.$bg-btn-menu-hover;
            }
        }
    }
}

/* welcome content */
header {
    padding: sizes.$sm;
    text-align: center;

    .img-welcome {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
        max-width: 250px;
        width: 100%;
        height: auto;
        aspect-ratio: 1; /* square aspect ratio */
        object-fit: cover;
    }
}

/* sidebar content */
aside {
    text-align: center;
    padding: sizes.$sm;
    background-color: colors.$bg-side;
    color: colors.$text-light;
}

/* main content */
main * {
    padding: sizes.$sm;
}

/* project section */
.project-container {
    background-color: colors.$bg-projects;
}

/* skills section */
.skills-item-header {
    color: colors.$text-light;
    background-color: colors.$bg-skill-header;
}

/* footer section */
footer {
    padding: sizes.$sm;
    color: colors.$text-light;
    background-color: colors.$bg-footer;
}



