/* sass/_colors.scss
contains any resuable values, e.g. colors, etc
*/

// light text color
$text-light: white;

// primary button color
// -- used to override bootstrap
$primary: #4a8256;

// secondary button color
// -- used to override bootstrap
$secondary: #c47b1c;

$tertiary: #7c505e;

// icon colors
$logo: oldlace;
$logo-hover: darkgrey;

// project section colors
$bg-projects: lightsteelblue;

// skill section colors
$bg-skill-header: #f64740;

// footer colors
$bg-footer: #223877;
