/* sass/_colors.scss
contains any resuable values, e.g. colors, etc
*/

// main body colors
$bg-body: #EFEFEF;
$bg-side: #2c2626;
$text-light: white;

// button colors
$bg-btn-primary: tomato;
$bg-btn-primary-hover: crimson;
$bg-btn-resume: royalblue;
$bg-btn-resume-hover: #3352af;

// icon colors
$logo: oldlace;
$logo-hover: darkgrey;

// nav colors
$bg-nav: #291f1e;
$bg-hamburger: #142b71;
$hamburger: #dee8f7;
$bg-btn-menu: #4c3837;
$bg-btn-menu-hover: #756361;

// project section colors
$bg-projects: lightsteelblue;

// skill section colors
$bg-skill-header: #f64740;

// footer colors
$bg-footer: #223877;
