/* _components.scss
create generic components used in multiple sections
*/

@use 'colors.scss' as colors;
@use 'spacing.scss' as sizes;

.logo {

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: sizes.$sm;
        margin: sizes.$sm;
    }

    &-icon {
        height: auto;
        color: colors.$logo;
    }

    &:hover,
    &:active {
        color: colors.$logo-hover;
    }
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 300px;
    object-fit: cover;
    padding-left: 0;
    margin-left: -22px;
    margin-right: -22px;
    padding-right: 0;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
    align-items: stretch;

    img {
        object-fit: cover;
        max-width: 40%;
        height: auto;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.btn-primary {
  color: white;
}
