/* _components.scss
create generic components used in multiple sections
*/

@use 'colors.scss' as colors;
@use 'spacing.scss' as sizes;
.button {
    display: block;
    border-radius: 20px;
    margin: sizes.$sm;
    padding: sizes.$sm-btn;
    text-decoration: none;
    color: colors.$text-light;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.button-resume {
    background-color: colors.$bg-btn-resume;
    color: colors.$text-light;
}

.button-resume:hover,
.button-resume:active {
    background-color: colors.$bg-btn-resume-hover;
}

.button-link {
    background-color: colors.$bg-btn-primary;
}

.button-link:hover, 
.button-link:active {
    background-color: colors.$bg-btn-primary-hover;
}

.logo-container {
    gap: sizes.$sm;
    margin: sizes.$sm;
}

.logo-icon {
    height: auto;
    color: colors.$logo;
}

.logo-icon:hover,
.logo-icon:active {
    color: colors.$logo-hover;
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 150px;
}

.card img {
    max-width: 350px; 
    height: auto;
    object-fit: cover;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
}

.split-screen img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.split-screen-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


