/* _components.scss
create generic components used in multiple sections
*/

@use 'colors.scss' as colors;
@use 'spacing.scss' as sizes;

$btn-margin-default: 10px;
$btn-lift: 8px; 
$btn-lift-pressed: $btn-lift * 0.5;
$btn-darken: 30%;
$btn-border-default: 4px;

.logo {

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: sizes.$sm;
        margin: sizes.$sm;
    }

    &-icon {
        height: auto;
        color: colors.$logo;
    }

    &:hover,
    &:active {
        color: colors.$logo-hover;
    }
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 300px;
    object-fit: cover;
    padding-left: 0;
    margin-left: -22px;
    margin-right: -22px;
    padding-right: 0;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
    align-items: stretch;

    img {
        object-fit: cover;
        max-width: 40%;
        height: auto;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@mixin btn-base {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
}

@mixin btn-lift($base-color, $text-color: white, $darken-amount: 30%) {
    @include btn-base;

    $dark-color: darken($base-color, $darken-amount);
    $btn-border-scalar: 2.5;

    background-color: $base-color;
    color: $text-color;
    margin: $btn-margin-default;
    border: $btn-border-default solid $dark-color;
    border-bottom: ($btn-border-default * $btn-border-scalar) solid $dark-color;
    transition: all 0.2s ease;

    &:hover {
      background-color: $base-color;
      margin-top: $btn-margin-default - $btn-lift;
      border-bottom: ($btn-border-default * $btn-border-scalar + $btn-lift) solid $dark-color;
    }

    &:active {
      background-color: $base-color;
      margin-top: $btn-margin-default + $btn-border-default;
      border-bottom: $btn-border-default solid $dark-color;
    }
}

.btn-red {
  @include btn-lift(colors.$primary);
}

.btn-primary {
  @include btn-lift(colors.$primary);
}

.btn-secondary {
  @include btn-lift(colors.$secondary);
}
