/* _components.scss
create generic components used in multiple sections
*/

@use 'colors.scss' as colors;
@use 'spacing.scss' as sizes;

.logo {

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: sizes.$sm;
        margin: sizes.$sm;
    }

    &-icon {
        height: auto;
        color: colors.$logo;
    }

    &:hover,
    &:active {
        color: colors.$logo-hover;
    }
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
    align-items: stretch;

    img {
        object-fit: cover;
        flex: 1;
        max-width: 40%;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

