/* _components.scss
create generic components used in multiple sections
*/

@use 'colors.scss' as colors;
@use 'spacing.scss' as sizes;

$btn-margin-default: 10px;
$btn-lift: 5px;
$tbn-lift-pressed: 0.3;

.logo {

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: sizes.$sm;
        margin: sizes.$sm;
    }

    &-icon {
        height: auto;
        color: colors.$logo;
    }

    &:hover,
    &:active {
        color: colors.$logo-hover;
    }
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 300px;
    object-fit: cover;
    padding-left: 0;
    margin-left: -22px;
    margin-right: -22px;
    padding-right: 0;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
    align-items: stretch;

    img {
        object-fit: cover;
        max-width: 40%;
        height: auto;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.btn-primary {
    color: white;

    &:hover {
      color: white;
    }
}

@mixin btn-lift($base-color, $darken-amount: 40%) {
    margin: $btn-margin-default;
    border-top: 0 solid $base-color;
    border-bottom: 0 solid darken($base-color, $darken-amount);
    transition: margin 0.2s ease,
                border 0.2s ease,
                background-color 0.2s ease;

    &:hover {
      margin-top: $btn-margin-default - $btn-lift;
      border-bottom: $btn-lift solid darken($base-color, $darken-amount);
    }

    &:active {
      margin-top: $btn-margin-default - (1 - $btn-lift * $btn-lift-pressed);
      border-bottom: $btn-lift * $btn-lift-pressed solid darken($base-color, $darken-amount);
    }
}

.btn-primary {
  @include btn-lift(colors.$primary);
}

.btn-secondary {
  @include btn-lift(colors.$secondary);
}
