/* _components.scss
create generic components used in multiple sections
*/

@use 'colors.scss' as colors;
@use 'spacing.scss' as sizes;

$btn-margin-default: 10px;
$btn-lift: 8px; 
$btn-darken: 30%;
$btn-lighten: 5%;
$btn-border-default: 3px;
$btn-y-transform: $btn-border-default * 2.5;

.logo {

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: sizes.$sm;
        margin: sizes.$sm;
    }

    &-icon {
        height: auto;
        color: colors.$logo;
    }

    &:hover,
    &:active {
        color: colors.$logo-hover;
    }
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 300px;
    object-fit: cover;
    padding-left: 0;
    margin-left: -22px;
    margin-right: -22px;
    padding-right: 0;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
    align-items: stretch;

    img {
        object-fit: cover;
        max-width: 40%;
        height: auto;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@mixin btn-base {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@mixin btn-color($base-color, $text-color: white) {
    // inner button, contains content
    @include btn-base;
  
    $dark-color: darken($base-color, $btn-darken);
    $light-color: lighten($base-color, $btn-lighten);

    background-color: $base-color;
    color: $text-color;
    border: $btn-border-default solid var(--dark-color);
    transition: all 0.15s ease;

    &:hover {
        background-color: $light-color;
    }
}

@mixin btn-lift {
    // button container, translates child component for lift effect
    // note: uses inner button border color for background to project image of border extending
    @include btn-base;

    background-color: var(--dark-color);

    margin: $btn-margin-default;
    padding: 0;
    border: 0;
    transition: all 0.15s ease;

    & > * {
        transform: translateY(-$btn-y-transform);
    }

    &:hover {
        transition: all 0.15s ease;
        padding-bottom: $btn-y-transform;
        margin-top: $btn-margin-default - $btn-y-transform;
        
        > * {
          transform: translateY(-$btn-y-transform - $btn-lift + $btn-margin-default);
        }

        &:active {
            padding-bottom: 0;
            margin-top: $btn-margin-default;

            > * {
                transform: translateY(0);
            }
        }
    }

}

.btn-lift {
    @include btn-lift;

    background-color: var(--dark-color);
}

.btn-lift:has(.btn-red) {
  --dark-color: #{darken(colors.$primary, $btn-darken)};
}

.btn-lift:has(.btn-blue) {
  --dark-color: #{darken(colors.$secondary, $btn-darken)};
}

.btn-red {
    @include btn-color(colors.$primary);
}

.btn-blue {
    @include btn-color(colors.$secondary);
}
