/* sass/layout.scss
organize all section layouts
*/

@use 'spacing.scss' as sizes;

$breakpoint-md: 576px;
$breakpoint-lg: 1200px;

@mixin grid-template-auto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}

@mixin flex-col-even {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    @include grid-template-auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    margin: auto; /* center body in viewport */
    max-width: 1320px; /* bootstrap standard */
}

/* welcome content */
header {
    grid-area: header;
    margin-top: 120px; /* avoid content overlay with nav */
    padding-left: 10vw;
    padding-right: 10vw;
}

aside {
    grid-area: aside;
}

main {
  grid-area: main;

    /* about section */
    .about-container {
        @include flex-col-center;

        .about1 {
            @include flex-col-center;
        }
    }

    /*project section */
    .project-container {
        @include grid-template-auto;
        grid-template-areas:
            "project-header"
            "projects";
        justify-content: center; 
    }

        .project-header {
            grid-area: project-header;
        }

        .projects {
            grid-area: projects;
            @include flex-col-center;
        }

    /* skills section */
    .skills-item-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: sizes.$sm;
    }
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center; 
}

/*
 * BREAKPOINTS 
 */

/* tablet */
@media (min-width: $breakpoint-md) {
    body {
        grid-template-columns: 8fr 1fr;
        grid-template-areas:
            "header aside"
            "main aside"
            "footer footer";
    }

    aside {
        position: --webkit-sticky; /* safari */
        position: sticky;
        top: 0;
        padding-top: 30vh;
        height: 100vh;
    }

    main {
        @include grid-template-auto;
        grid-template-areas:    
            "about-container"
            "project-container"
            "skills-container"
            "experience-container";

        .about-container {
            grid-area: about-container;

            .banner-image {
              max-height: 400px;
            }
        }

        .project-container {
            grid-area: project-container;
        }

        .projects {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .skills-container {
            grid-area: skills-container;
        }

        .experience-container {
            display: flex;
            flex-direction: column;

            .split-screen-body {
                // force every image to left side
                justify-content: flex-start;
            }
        }
    }

    footer {
        z-index: 10;
    }

    .split-screen img {
        max-width: 50%;
    }
}

/* desktop */
@media (min-width: $breakpoint-lg) {
    .about-container {
        @include grid-template-auto;  
        grid-template-areas:
        "about1 about1"
        "about2 about3"; 
        justify-items: start;

        img {
            max-height: 300px;
        }
        .banner-image {
          max-height: 500px;
        }
    }

    @for $i from 1 through 3 {
        .about#{$i} {
            grid-area: about#{$i};
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            @if $i > 1 {
                // apply to all but first
                // move image to top of flex column
                img {
                    order: -1;
                }
            }
        }
    }
}
