/* sass/layout.scss
organize all section layouts
*/

@use 'spacing.scss' as sizes;

$breakpoint-md: 576px;
$breakpoint-lg: 1200px;

$nav-height: 60px;

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "aside"
        "main"
        "footer";
    margin: auto; /* center body in viewport */
    margin-top: $nav-height; /* ensure body is underneath navbar */
    max-width: 1320px; /* bootstrap standard */
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: sizes.$md;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $nav-height;
    z-index: 100; 

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: sizes.$md;
        align-items: center;
        height: 100%;
    }

    .menu {
   
        &-hamburger {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;   
        }

        &-container {
            position: absolute;
            top: 0;
            right: 0;
            margin: $nav-height 0 0 0; /*height of nav*/
            display: none;
        }

        &-links {
            align-items: center;
            text-align: center;
            width: 200px;
            height: 100%;
        }

        &-item {
            display: block; /*make each element block clickable*/
            width: 100%;
        }
    }
}

/* welcome content */
header {
    grid-area: header;
    margin-top: $nav-height; /* avoid content overlay with nav */

    .welcome-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main {
  grid-area: main;

    /* about section */
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .about1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    /*project section */
    .project-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "project-header"
            "projects";
        justify-content: center; 
    }

        .project-header {
            grid-area: project-header;
        }

        .projects {
            grid-area: projects;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    /* skills section */
    .skills-item-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: sizes.$sm;
    }
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center; 
}

/*
 * BREAKPOINTS 
 */

/* tablet */
@media (min-width: $breakpoint-md) {
    body {
        grid-template-columns: 8fr 1fr;
        grid-template-areas:
            "nav nav"
            "header aside"
            "main aside"
            "footer footer";
    }

    nav {
        .menu {
            &-container {
                display: inherit;
                position: relative;
                margin: 0;
                height: 100%;
            }

            &-links {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: stretch;
                width: auto;
            }

            &-item {
                display: flex;
                align-items: center;
                padding: sizes.$md;
            }

            &-hamburger {
                display: none;
            }
        }
    }
    
    aside {
        justify-content: flex-start;
        position: --webkit-sticky; /* safari */
        position: sticky;
        top: $nav-height;
        padding-top: 20vh;
        height: 100vh;
    }

    main {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:    
            "about-container"
            "project-container"
            "skills-container"
            "experience-container";

        .project-container {
            grid-area: "project-container";

        .projects {
            flex-direction: row;
            flex-wrap: wrap;

            img {
                max-height: 300px;
            }
        }

        .skills {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
        }

        .skill-item {
            max-width: 350px;
        }

        .experience-container {
            display: flex;
            flex-direction: column;

            img {
                max-height: 500px;
                flex-shrink: 1;
            }

            .split-screen-body {
                // force every image to right side
                justify-content: flex-start;
            }
        }
    }

    footer {
        z-index: 10;
    }
}

/* desktop */
@media (min-width: $breakpoint-lg) {
    body {
        grid-template-columns: 8fr 1fr;
        grid-template-areas:
        "nav nav"
        "header aside"
        "main aside"
        "footer footer"
    }

    .about-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "about1 about1"
        "about2 about3"; 
        gap: 5vw;
        justify-items: start;

        img {
            max-height: 300px;
        }
    }

    @for $i from 1 through 3 {
        .about#{$i} {
            grid-area: about#{$i};
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            @if $i > 1 {
                // apply to all but first
                // move image to top of flex column
                img {
                    order: -1;
                }
            }
        }
    }
}
}
