/* main.scss
imports all partials and compiles into main.css
*/

@use 'colors.scss' as colors;
@use 'layout.scss';
@use 'base.scss';

* {
    /*border: 1px solid black; /* apply outline to all elements for visualization */
    font-family: Arial, Helvetica, sans-serif;
} 

html {
    /* set background to sidebar color so
     * it fits when screen expanded beyond
     * maximum width */
    background-color: colors.$bg-side;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "aside"
        "main"
        "footer";
    margin: auto; /* center body in viewport */
    margin-top: 60px; /* ensure body is underneath navbar */
    max-width: 1320px; /* bootstrap standard */
    /* set background to off-white so it's
     * easier on the eyes and to put a normal
     * color over the above html background
     * color */
    background-color: colors.$bg-body;
}

/* generic elements used in multiple sections */
.button {
    display: block;
    border-radius: 20px;
    margin: 5px;
    padding: 12px;
    text-decoration: none;
    color: colors.$text-light;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.button-resume {
    background-color: colors.$bg-btn-resume;
    color: colors.$text-light;
}

.button-resume:hover,
.button-resume:active {
    background-color: colors.$bg-btn-resume-hover;
}

.button-link {
    background-color: colors.$bg-btn-primary;
}

.button-link:hover, 
.button-link:active {
    background-color: colors.$bg-btn-primary-hover;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.logo-icon {
    height: auto;
    color: colors.$logo;
}

.logo-icon:hover,
.logo-icon:active {
    color: colors.$logo-hover;
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 350px;
}

.card img {
    max-width: 350px; 
    height: auto;
    object-fit: cover;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
}

.split-screen img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.split-screen-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* navigation content */
nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: colors.$bg-nav;
    z-index: 100;
}

nav .logo-link {
    text-decoration: none;
    height: 100%;
}

nav .logo {
    border-radius: 100%;
    max-height: 50px;
    max-width: auto;
    margin: 5px;
}

nav .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 100%;
}

nav .menu-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    aspect-ratio: 1;
    color: colors.$hamburger;
    background-color: colors.$bg-hamburger;
}

nav .menu-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px 0 0 0; /*height of nav*/
    display: none;
    background-color: colors.$bg-btn-menu;
}

nav .menu-links {
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 0;
    padding: 0;
}

nav .menu-item {
    display: block; /*make each element block clickable*/
    width: 100%;
    padding: 10px 0 10px 0;
    color: colors.$text-light;
    text-decoration: none;
}

nav .menu-item:hover,
nav .menu-item:active {
    background-color: colors.$bg-btn-menu-hover;
}

/* header section */
header {
    grid-area: header;
    margin-top: 60px; /* avoid content overlay with nav */
    padding: 10px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.img-welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    max-width: 250px;
    width: 100%;
    height: auto;
    aspect-ratio: 1; /* square aspect ratio */
    object-fit: cover;
}

/* sidebar content */
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: colors.$bg-side;//#2c2626;
    color: white;
}

/* main content */
main {
    grid-area: main;
}

main * {
    padding: 5px;
    margin: 5px;
}

/* about section */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* project section */
.project-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "project-header"
        "projects";
    justify-content: center;
    background-color: colors.$bg-projects;
}

.project-header {
    grid-area: project-header;
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* skills section */
.skills-item-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: colors.$text-light;
    background-color: colors.$bg-skill-header;
}

/* footer section */
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 20px;
    color: colors.$text-light;
    background-color: colors.$bg-footer;
}


/* tablet */
@media (min-width: 576px) {
    body {
        grid-template-columns: 8fr 1fr;
        grid-template-areas:
            "nav nav"
            "header aside"
            "main aside"
            "footer footer";
    }

    nav .menu-container {
        display: inherit;
        position: relative;
        margin: 0;
        height: 100%;
    }

    nav .menu-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
        width: auto;
        padding: auto;
    }

    nav .menu-item {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    nav .menu-hamburger {
        display: none;
    }
    
    aside {
        justify-content: flex-start;
        padding-top: 20vh;
        position: --webkit-sticky; /* safari */
        position: sticky;
        top: 60px;
        height: 100vh;
    }

    main {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:    
            "about-container"
            "projects-container"
            "skills-container"
            "experience-container";
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-container img {
        max-height: 300px;
    }

    .skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    .skill-item {
        max-width: 350px;
    }

    .experience-container {
        display: flex;
        flex-direction: column;
    }

    .experience-container img {
        max-height: 500px;
        flex-shrink: 1;
    }

    .experience-container .split-screen-body {
        justify-content: flex-start;
    }

    footer {
        z-index: 10;
    }
}

/* desktop */
@media (min-width: 1200px) {
    body {
        grid-template-columns: 8fr 1fr;
        grid-template-areas:
        "nav nav"
        "header aside"
        "main aside"
        "footer footer"
    }

    .about-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "about1 about1"
        "about2 about3"; 
        gap: 5vw;
        justify-items: start;
    }

    .about-container img {
        max-height: 300px;
    }

    .about1 {
        grid-area: about1;
    }

    .about2 {
        grid-area: about2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .about3 {
        grid-area: about3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* force image to top of flex column */
    .about3 img {
        order: -1;
    }
}
