/* main.scss
imports bootstrap then all partials 
files and compiles into main.css

overwrites some default bootstrap variables

https://getbootstrap.com/docs/5.3/customize/sass/
 */

// Include any default variable overrides here (though functions won't be available)

@use 'colors.scss' as colors;

@use "../node_modules/bootstrap/scss/bootstrap" as * with (
    $primary: colors.$primary,
    $secondary: colors.$secondary,
    $body-bg: #EFEFEF,
    $body-secondary-color: white,   // aside
    $body-secondary-bg: #291F1E,    // aside
    $btn-border-radius: 20px,
    $h1-font-size: 4rem,
);


/*
 * import sass partials
 */
@use 'base';
@use 'layout';
@use 'components';


