/* main.scss
imports all partials and compiles into main.css
*/

@use 'colors.scss' as colors;
@use 'layout.scss';
@use 'base.scss';

* {
    /*border: 1px solid black; /* apply outline to all elements for visualization */
    font-family: Arial, Helvetica, sans-serif;
} 

html {
    /* set background to sidebar color so
     * it fits when screen expanded beyond
     * maximum width */
    background-color: colors.$bg-side;
}

body {
    /* set background to off-white so it's
     * easier on the eyes and to put a normal
     * color over the above html background
     * color */
    background-color: colors.$bg-body;
}

/* generic elements used in multiple sections */
.button {
    display: block;
    border-radius: 20px;
    margin: 5px;
    padding: 12px;
    text-decoration: none;
    color: colors.$text-light;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.button-resume {
    background-color: colors.$bg-btn-resume;
    color: colors.$text-light;
}

.button-resume:hover,
.button-resume:active {
    background-color: colors.$bg-btn-resume-hover;
}

.button-link {
    background-color: colors.$bg-btn-primary;
}

.button-link:hover, 
.button-link:active {
    background-color: colors.$bg-btn-primary-hover;
}

.logo-container {
    gap: 10px;
    margin: 10px;
}

.logo-icon {
    height: auto;
    color: colors.$logo;
}

.logo-icon:hover,
.logo-icon:active {
    color: colors.$logo-hover;
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 350px;
}

.card img {
    max-width: 350px; 
    height: auto;
    object-fit: cover;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
}

.split-screen img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.split-screen-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* navigation content */
nav {
    background-color: colors.$bg-nav;
}

nav .logo-link {
    text-decoration: none;
    height: 100%;
}

nav .logo {
    border-radius: 100%;
    max-height: 50px;
    max-width: auto;
    margin: 5px;
}

nav .menu-hamburger {
    text-decoration: none;
    aspect-ratio: 1;
    color: colors.$hamburger;
    background-color: colors.$bg-hamburger;
}

nav .menu-container {
    background-color: colors.$bg-btn-menu;
}

nav .menu-links {
    margin: 0;
    padding: 0;
}

nav .menu-item {
    color: colors.$text-light;
    text-decoration: none;
    padding: 16px 0 16px 0;    
}

nav .menu-item:hover,
nav .menu-item:active {
    background-color: colors.$bg-btn-menu-hover;
}

/* welcome content */
header {
    padding: 10px;
}

.welcome-container {
    align-items: center;
    text-align: center;
}

.img-welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    max-width: 250px;
    width: 100%;
    height: auto;
    aspect-ratio: 1; /* square aspect ratio */
    object-fit: cover;
}

/* sidebar content */
aside {
    text-align: center;
    padding: 10px;
    background-color: colors.$bg-side;//#2c2626;
    color: colors.$text-light;
}

/* main content */
main * {
    padding: 5px;
    margin: 5px;
}

/* project section */
.project-container {
    background-color: colors.$bg-projects;
}

/* skills section */
.skills-item-header {
    color: colors.$text-light;
    background-color: colors.$bg-skill-header;
}

/* footer section */
footer {
    padding: 20px;
    color: colors.$text-light;
    background-color: colors.$bg-footer;
}


