* {
    /*border: 1px solid black; /* apply outline to all elements for visualization */
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "aside"
        "main"
        "footer";
    margin: auto; /* center body in viewport */
    margin-top: 60px; /* ensure body is underneath navbar */
    /*max-width: 575px; /* upper limit for mobile-first view */
}

/* generic elements used in multiple sections */
.button {
    display: block;
    border-radius: 20px;
    padding: 12px;
    text-decoration: none;
    color: white;
}

.button-resume {
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

.button-resume:hover {
    background-color: #3352af;
}

.button-link {
    background-color: tomato;
}

.button-link:hover {
    background-color: crimson;
}

.banner-image {
    width: auto; 
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 350px;
}

.card img {
    max-width: 350px; 
    height: auto;
    object-fit: cover;
}

.split-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* push image to edge of page */
    width: auto;
}

.split-screen img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.split-screen-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* navigation content */
nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #291f1e;
}

nav .logo-link {
    text-decoration: none;
    color: black;
    object-fit: contain;
    height: 100%;
}

nav .logo {
    border-radius: 100%;
    max-height: 50px;
    max-width: auto;
    margin: 5px;
}

nav .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 100%;
}

nav .menu-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    aspect-ratio: 1;
    color: #dee8f7;
    background-color: #142b71;
}

nav .menu-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px 0 0 0; /*height of nav*/
    display: none;
    background-color: #4c3837;
}

nav .menu-links {
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 0;
    padding: 0;
}

nav .menu-item {
    display: block; /*make each element block clickable*/
    width: 100%;
    padding: 10px 0 10px 0;
    color: white;
    text-decoration: none;
}

nav .menu-item:active {
    background-color: #756361;
}

/* header section */
header {
    grid-area: header;
    margin-top: 60px; /* avoid content overlay with nav */
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.img-welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    max-width: 250px;
    width: 100%;
    height: auto;
    aspect-ratio: 1; /* square aspect ratio */
    object-fit: cover;
}

/* sidebar content */
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.logo {
    height: auto;
    text-decoration: none;
}

/* main content */
main {
    grid-area: main;
}

main * {
    padding: 5px;
    margin: 5px;
}

/* about section */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* project section */
.project-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "h2"
    "project-card1"
    "project-card2";
    justify-items: center;
}

.project-container h2 {
    grid-area: h2;
}

.project-card1 {
    grid-area: project-card1;
}

.project-card2 {
    grid-area: project-card2;
}

/* skills section */
.skills-container {
    /*
    display: flex;
    flex-direction: column;
    */
}

.skills-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.skills1 {
    grid-area: skills1;
}

/* footer section */
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #223877;
}
