* {
    border: 1px solid black;
}

main * {
    padding: 5px;
    margin: 5px;
    
}

header {
    margin-top: 80px; /* avoid content overlay with nav */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    min-height: 80px;
    background-color: #d9d9d9;
}

nav .logo-link {
    text-decoration: none;
    color: black;
    height: auto;
    flex-shrink: 1;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    margin: 10px;
}

nav .menu-hamburger {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #666666;
}

nav ul {
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 200px;
}


.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    margin-top: 80px; /*height of nav*/
    display: none;
    background-color: #adebad;
}

.menu-links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: block; /*make each element block clickable*/
    width: 100%;
    padding: 10px 0 10px 0;
}


.sidebar {
    display: none;
}
